[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "VASTvaporizer/Source/muFFT"]
	path = VASTvaporizer/Source/muFFT
	url = https://github.com/Themaister/muFFT
[submodule "VASTvaporizer/Source/AnaMark-Tuning-Library"]
	path = VASTvaporizer/Source/AnaMark-Tuning-Library
	url = https://github.com/zardini123/AnaMark-Tuning-Library
[submodule "clap-juce-extensions"]
	path = clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
