VASTvaporizer_commercial.jucer
VASTvaporizer_vastbuild.jucer
VASTvaporizer/Builds/
VASTvaporizer/InnoSetupFiles/Output/
VASTvaporizer/JuceLibraryCode/
VASTLicense.*
cmake-build*/
post_build_script_win.bat
build_script_win.bat
MacOS Build Chain.docx
Vaporizer2OSX64*.pkg
Vaporizer2OSX64*.zip
Vaporizer2_installer_OSX64*.zip
package_macos.sh
package_win.bat
.vscode/
.vs/
.idea/
*.kdev4
*.o
*.dll
*.so
*.so*
*.dylib
*.vst*
*.au
*.aax
.DS_Store
/.clangd
output.txt
output.json